@model generateReportTotalListsViewModel

@{
    ViewData["Title"] = "GenerateReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Rapport Genereren</h3>
<container class="generateReportFullBodyContainer">
    <div class="row generateReporFullBodyDivRow">
        <div class="col-lg-10 generateReporFullBodyDivItemsCol">
            <div class="row templateRow">
                <div class="templateRowContent">
                    <h4>[INSERT DROPDOWN] Template kiezen</h4>
                </div>
            </div>

            <div class="itemsRow">
                <form action="addspecifier" method="post" class="col-lg-8 specifierForm">
                    <div class="col SpecifierRB">
                        <div class="form-check">
                            <input class="form-check-input specifierRadio" type="radio" name="specifierRadios" id="nameRadio" value="name" checked>
                            <label class="form-check-label specifierRadio" for="nameRadio">
                                Naam
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input specifierRadio" type="radio" name="specifierRadios" id="shiftDateRadio" value="date">
                            <label class="form-check-label specifierRadio" for="shiftDateRadio">
                                Datum dienst
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input specifierRadio" type="radio" name="specifierRadios" id="ageRadio" value="age">
                            <label class="form-check-label specifierRadio" for="ageRadio">
                                Leeftijd
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input specifierRadio" type="radio" name="specifierRadios" id="excusedAbsenceRadio" value="exceptionAbsence">
                            <label class="form-check-label specifierRadio" for="excusedAbsenceRadio">
                                Verlof
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input specifierRadio" type="radio" name="specifierRadios" id="groupRadio" value="group">
                            <label class="form-check-label specifierRadio" for="groupRadio">
                                Groep
                            </label>
                        </div>
                    </div>
                    <div class="col selectMember">
                        <div class="checkboxlist">
                            @{
                                var members = (List<MemberDTO>)ViewData["MemberList"];
                            }
                            @foreach (MemberDTO member in @members)
                            {
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">@member.Name</label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col specifierEditor">
                        <div class="form-group">
                            <input asp-for="@Model.specifiersToAdd.bevatTextInput+" class="form-control" placeholder="Bevat" />
                        </div>
                        <div class="form-group">
                            <input asp-for="@Model.specifiersToAdd.vanafTextInput+" class="form-control" placeholder="Vanaf (cijfer)" />
                        </div>
                        <div class="form-group">
                            <input asp-for="@Model.specifiersToAdd.totTextInput+" class="form-control" placeholder="Tot (cijfer)" />
                        </div>
                        <div class="form-group">
                            <input asp-for="@Model.specifiersToAdd.vanafDateTimeInput+" class="form-control" placeholder="Vanaf (datum)" />
                        </div>
                        <div class="form-group">
                            <input asp-for="@Model.specifiersToAdd.totDateTimeInput+" class="form-control" placeholder="Tot (datum)" />
                        </div>
                        <div class="form-group">
                            <div class="row sb">
                                <input type="submit" class="btn specifierButton" />
                            </div>
                        </div>
                    </div>
                </form>


                <div class="col selectTable">
                    <form id="selectTable" action="selectColumn" method="post">
                        @{
                            var tables = (List<string>)ViewData["tables"];
                        }
                        @Html.DropDownListFor(model => model.selectedTable, new SelectList(tables), htmlAttributes: new { @class = "form-control", onchange = "selectColumn()", id = "ddlTables" })
                    </form>

                </div>
                <div class="col selectColumns">
                    <form method="post" asp-action="addSelectedColumns" asp-controller="GenerateReport">

                        <div class="checkboxlist">

                            @{
                                var columns = Model.columns;
                                int count = 0;

                                @if (columns != null)
                                {
                                    foreach (string column in @columns)

                                    {
                                        string id = "check" + count.ToString();
                                        count++;
                                        <div class="checkbox">
                                            <label><input type="checkbox" name="columnsCheck" id=@id value="@column">@column</label>
                                        </div>
                                    }
                                }
                            }
                        </div>
                        <div class="form-group">
                            <div class="row sb">
                                <input type="submit" class="btn" value="Toevoegen" />
                                @*<input type="submit" class="btn addColumnsButton" onsubmit="addColumn()" />*@
                            </div>
                        </div>


                    </form>

                    <form method="post" asp-action="ExecuteConstructedQuery" asp-controller="GenerateReport">
                        <div class="form-group">
                            <div class="row sb">
                                <input type="submit" class="btn" value="Genereren" />
                                @*<input type="submit" class="btn addColumnsButton" onsubmit="addColumn()" />*@
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col generateReporFullBodyDivHelpCol">
            <h4>Help</h4>
            <p>LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUMLOREM IPSUM</p>
        </div>
    </div>

    <form id="hiddenDDLItem" method="post" action="selectThisColumn">
        <input type="hidden" name="foo" id="foo" value="@Model.selectedTable" />

    </form>



</container>
<script>

    function selectColumn() {
        var d = document.getElementById("ddlTables").value;
        $('#foo').val(d);
        document.getElementById('hiddenDDLItem').submit();
    }

    function addColumn() {
        var checkedList = new Array();
        var $boxes = $('input[name=columnsCheck]:checked');

        $boxes.each(function () {
            var boxValue = document.getElementById(this).value;
            checkedList.push(boxValue);
        });
        $.ajax({
            type: "POST",
            url: "/GenerateReport/addSelectedColumns",
            data: JSON.stringify(checkedList),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                alert(r + " record(s) inserted.");
            }
        });
    }
</script>
